<footer class="site-footer h-card">
  <div class="wrapper">
    <div class="footer-content">
      {%- if site.footer.contact -%}
        <div class="contact-info">
          {%- for contact in site.footer.contact -%}
            {%- if contact.link -%}
              <a href="{{ contact.link }}">{{ contact.value }}</a>
            {%- else -%}
              {{ contact.value }}
            {%- endif -%}
          {%- endfor -%}
        </div>
      {%- endif -%}
      
      {%- include social.html -%}
    </div>
  </div>
</footer> 