<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {%- if page.layout == 'home' or page.url == '/' -%}
          <div class="home">
            {%- if page.title -%}
              <h1 class="page-heading">{{ page.title }}</h1>
            {%- endif -%}

            {{ content }}

            {% if site.posts.size > 0 %}
              <ul class="post-list">
                {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
                {% for post in site.posts %}
                  <li>
                    <span class="post-meta">{{ post.date | date: date_format }}</span>
                    <h3>
                      <a class="post-link" href="{{ post.url | relative_url }}">
                        {{ post.title | escape }}
                      </a>
                    </h3>
                    {%- if site.show_excerpts -%}
                      {{ post.excerpt }}
                    {%- endif -%}
                  </li>
                {% endfor %}
              </ul>

              <p class="feed-subscribe">
                <a href="{{ 'feed.xml' | relative_url }}">Subscribe to RSS</a>
              </p>
            {% endif %}
          </div>
        {%- else -%}
          {{ content }}
        {%- endif -%}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html> 